<a href="https://colab.research.google.com/github/MoonMond/PythonClass/blob/main/Homework25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 096
a=[[2,5,8],[3,7,4],[1,6,9],[4,2,0]]
print(a)

# 097
b=int(input("row : "))
c=int(input("column : "))
print(a[b][c])

# 098
d=int(input("보고싶은 row : "))
print(a[d])
e=int(input("추가할 숫자 : "))
a[d].append(e)
print(a[d])

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
row : 2
column : 1
6
보고싶은 row : 0
[2, 5, 8]
추가할 숫자 : 9
[2, 5, 8, 9]

In [5]:
# 099
a=[[2,5,8],[3,7,4],[1,6,9],[4,2,0]]
print(a)
b=int(input("보고싶은 row : "))
print(a[b])
c=int(input("보고싶은 colunm : "))
print(a[b][c])
if input("다른 숫자로 바꾸고 싶은가? ")=="yes":
  d=int(input("어떤 숫자로? "))
  a[b][c]=d
print(a[b])

[[2, 5, 8], [3, 7, 4], [1, 6, 9], [4, 2, 0]]
보고싶은 row : 1
[3, 7, 4]
보고싶은 colunm : 1
7
다른 숫자로 바꾸고 싶은가? yes
어떤 숫자로? 10
[3, 10, 4]

In [7]:
# 100
a={"John":{"N":3056,"S":8463,"E":8441,"W":2694},"Tom":{"N":4832,"S":6786,"E":4737,"W":3612},"Anne":{"N":5239,"S":4802,"E":5820,"W":1859},"Fiona":{"N":3904,"S":3645,"E":8821,"W":2451}}

# 101
b=input("name :")
c=input("region :")
print(a[b][c])
d=input("수정하고 싶은 사람 이름 : ")
e=input("수정하고 지역 : ")
f=int(input("숫자를 바꾸시오 : "))
a[d][e]=f
print(a[d])

name :Tom
region :N
4832
수정하고 싶은 사람 이름 : Tom
수정하고 지역 : S
숫자를 바꾸시오 : 6666
{'N': 4832, 'S': 6666, 'E': 4737, 'W': 3612}

In [18]:
# 102
list1=[[],[],[],[]]
for i in range(4):
  a=input("이름 : ")
  list1[i].append(a)
  b=int(input("나이 : "))
  list1[i].append(b)
  c=int(input("신발 사이즈 : "))
  list1[i].append(c)
print(list1)
d=input("찾는 이름 : ")
for j in range(4):
  if list1[j][0]==d:
    print(f'나이는 {list1[j][1]}, 신발 사이즈는 {list1[j][2]}이다')

이름 : aa
나이 : 1
신발 사이즈 : 1
이름 : bb
나이 : 2
신발 사이즈 : 2
이름 : cc
나이 : 3
신발 사이즈 : 3
이름 : dd
나이 : 4
신발 사이즈 : 4
[['aa', 1, 1], ['bb', 2, 2], ['cc', 3, 3], ['dd', 4, 4]]
찾는 이름 : dd
나이는 4, 신발 사이즈는 4이다

In [20]:
# 103
list1=[[],[],[],[]]
for i in range(4):
  a=input("이름 : ")
  list1[i].append(a)
  b=int(input("나이 : "))
  list1[i].append(b)
  c=int(input("신발 사이즈 : "))
  list1[i].append(c)
for j in range(4):
  print(f'이름 : 나이 = {list1[j][0]}:{list1[j][1]}')

이름 : aa
나이 : 1
신발 사이즈 : 11
이름 : bb
나이 : 2
신발 사이즈 : 22
이름 : cc
나이 : 3
신발 사이즈 : 33
이름 : dd
나이 : 4
신발 사이즈 : 44
이름 : 나이 = aa:1
이름 : 나이 = bb:2
이름 : 나이 = cc:3
이름 : 나이 = dd:4

In [25]:
# 104
list1=[[],[],[],[]]
for i in range(4):
  a=input("이름 : ")
  list1[i].append(a)
  b=int(input("나이 : "))
  list1[i].append(b)
  c=int(input("신발 사이즈 : "))
  list1[i].append(c)
d=input("제거하고 싶은 이름 : ")
for j in range(4):
  if list1[j][0]==d:
    num=j
del list1[num]
for k in range(3):
  print(list1[k])

이름 : a
나이 : 11
신발 사이즈 : 111
이름 : b
나이 : 22
신발 사이즈 : 222
이름 : c
나이 : 33
신발 사이즈 : 333
이름 : d
나이 : 4
신발 사이즈 : 4444
제거하고 싶은 이름 : a
['b', 22, 222]
['c', 33, 333]
['d', 4, 4444]