<a href="https://colab.research.google.com/github/MoonMond/PythonClass/blob/main/Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 001

a = input("First Name 입력 : ")

print("Hello", "[", a, "]")

First Name 입력 : 경록
Hello [ 경록 ]

In [ ]:
# 002
a = input("First Name 입력 : ")
b = input("Surname 입력 : ")

print("Hello", "[", a, "]", "[",b,"]")

First Name 입력 : 경록
Surname 입력 : 문
Hello [ 경록 ] [ 문 ]

In [ ]:
# 003

print('"What do you call a bear with no teeth?"\n'+'"A Gummy bear!!"')

"What do you call a bear with no teeth?"
"A Gummy bear!!"

In [ ]:
# 004
a = int(input("첫번째 숫자 입력 : "))
b = int(input("두번째 숫자 입력 : "))

print("The total is",a+b)

첫번째 숫자 입력 : 1
두번째 숫자 입력 : 4
The total is 5

In [ ]:
# 005
a = int(input("첫번째 숫자 입력 : "))
b = int(input("두번째 숫자 입력 : "))
c = int(input("세번째 숫자 입력 : "))

print("The answer is",(a+b)*c)

첫번째 숫자 입력 : 1
두번째 숫자 입력 : 4
세번째 숫자 입력 : 6
The answer is 30

In [ ]:
# 006

a = int(input("How many slices of pizza you started? : "))
b = int(input("How many slices of pizza did you eat? : "))

print("There are", a-b, "pieces of pizza left")

How many slices of pizza you started? : 8
How many slices of pizza did you eat? : 4
There are 4 pieces of pizza left

In [ ]:
# 007
a = input("이름 입력 : ")
b = int(input("나이 입력 : ")) +1
print("["+a+"]","next birthday you will be",b)

이름 입력 : 문경록
나이 입력 : 27
[문경록] next birthday you will be 28

In [ ]:
# 008
a = int(input("총 지불 금액 : "))
b = int(input("총 인원 : "))
print("각각 지불할 금액은",a/b,"입니다.")

총 지불 금액 : 50000
총 인원 : 5
각각 지불할 금액은 10000.0 입니다.

In [ ]:
# 009
a = int(input("일 수 : "))
print(a, "일은 [시간]으로", a*24, "시간, [분]으로",a*24*60,"분, [초]로",a*24*60*60 ,"초 입니다.")

일 수 : 1
1 일은 [시간]으로 24 시간, [분]으로 1440 분, [초]로 86400 초 입니다.

In [ ]:
# 010
a = int(input("무게 : "))
print(a*2204,"파운드")

무게 : 58
127832 파운드

In [ ]:
# 011
a = int(input("100보다 큰 수 입력 : "))
b = int(input("10보다 작은 수 입력 : "))

print(b, "goes into", a, a/b, "times")

100보다 큰 수 입력 : 105
10보다 작은 수 입력 : 5
5 goes into 105 21.0 times