<a href="https://colab.research.google.com/github/MoonMond/PythonClass/blob/main/Homework2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 021
letters = 'python'
print(letters[0],letters[2]) # letters[n] : n에 해당부분 출력

p t

In [ ]:
# 022
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [ ]:
# 023
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])

홀 홀 홀

In [ ]:
# 024
string = "PYTHON"
print(string[::-1]) 
# 문자열[시작:끝:규칙]으로 세 번째 숫자가 들어갈 수 있는데, 이때의 규칙은 슬라이싱을 하는 규칙
# 1이 들어가는 것이 디폴트 값이며 1이 들어가게 되면 문자열을 앞에서부터 하나씩 잘라서 새로운 문자열 생성
# 2가 들어가게 되면 앞에서부터 한 칸씩 띄워서 2씩 잘라주어 새로운 문자열을 만들어 줍니다. 
# 인덱스를 기준으로 보면 [0], [2], [4] .. 이런 식으로 문자열을 자르게 됩니다.
# 우리는 이 규칙에 -1을 넣어서 뒤에서부터 잘라서 문자열을 뒤집을 수 있습니다.

NOHTYP

In [ ]:
# 025
phone_number = "010-1111-2222"
print(phone_number.replace("-"," ")) # x.replace("-"," ") : x에서 -를 모두 공백으로 바꿈

010 1111 2222

In [ ]:
# 026
phone_number = "010-1111-2222"
print(phone_number.replace("-","")) # x.replace("-","") : x에서 -를 모두 제거

01011112222

In [ ]:
# 027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [ ]:
# 028
lang = "python"
lang[0]="P" # 문자열은 변경불가하여 오류발생
print(lang)

TypeError: ignored

In [ ]:
# 029
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

In [ ]:
# 030
string = 'abcd'
string.replace('b', 'B') # 문자열의 b를 모두 B로 바꿈
print(string)

abcd

In [ ]:
# 031
a = "3"
b = "4"
print(a + b) # +는 문자열 합치기

34

In [ ]:
# 032
print("Hi" * 3) # Hi를 세번 반복하여 출력

HiHiHi

In [ ]:
# 033
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
# 034
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [ ]:
# 035
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d이름: %s 나이:%d" % (name1,age1,name2,age2))

이름: 김민수 나이: 10이름: 이철희 나이:13

In [ ]:
# 036
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {0} 나이: {1}이름: {2} 나이:{3}".format(name1,age1,name2,age2))

이름: 김민수 나이: 10이름: 이철희 나이:13

In [ ]:
#037
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}이름: {name2} 나이:{age2}")

이름: 김민수 나이: 10이름: 이철희 나이:13

In [ ]:
# 038
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",","")))
print(type(int(상장주식수.replace(",",""))))

5969782550
<class 'int'>

In [ ]:
# 039
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [ ]:
# 040
data = "   삼성전자    "
print(data.strip())

삼성전자