<a href="https://colab.research.google.com/github/MoonMond/PythonClass/blob/main/PythonClass_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 10
while n >= 0:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1
0

In [ ]:
n=1
s=0
while n<=100:
    if n%3==0:
        s=s+n
        n=n+1
    else:
        n=n+1
print(s)

1683

In [ ]:
n=1
s=0
while n<=100:
    if n%3==0:
        s=s+n
    n+=1
print(s)

1683

In [ ]:
math=[60,90,70,70,100]
j=1
for i in math:
    if i >=90:
        print(j,"번째 학생은 합격")
    else:
        print(j,"번째 학생은 불합격")
    j+=1

1 번째 학생은 불합격
2 번째 학생은 합격
3 번째 학생은 불합격
4 번째 학생은 불합격
5 번째 학생은 합격

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2==0:
        print(i)

2
4
6
8
10

In [ ]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [ ]:
print(range(11))

range(0, 11)

In [ ]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,10):
    for j in range(1,10):
        if j==1:
            print(i,"단")
        print(i*j,end="\t")
        if j==9:
            print("\n")

2 단
2	4	6	8	10	12	14	16	18

3 단
3	6	9	12	15	18	21	24	27

4 단
4	8	12	16	20	24	28	32	36

5 단
5	10	15	20	25	30	35	40	45

6 단
6	12	18	24	30	36	42	48	54

7 단
7	14	21	28	35	42	49	56	63

8 단
8	16	24	32	40	48	56	64	72

9 단
9	18	27	36	45	54	63	72	81

In [ ]:
s=0
for i in range(0,101,2):
    s=s+i
print(s)

2550

In [ ]:
list1=[1,2,3,4]
print(list1)

list2=[num for num in list1]
print(list2)

list3=[num*2 for num in list1]
print(list3)

list4=[num*2 for num in list1  if num%2==0]
print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 4, 6, 8]
[4, 8]

In [ ]:
no=80
if no >=80:
    print("합격")
else:
    print("불합격")
    
print("합격" if no>=90 else "불합격")

합격
불합격

In [1]:
# Quiz

a=int(input("첫번째 숫자: "))
b=int(input("두번째 숫자: "))
c=int(input("세번째 숫자: "))

if a>b and a>c:
  print(a)
elif b>a and b>c:
  print(b)
else:
  print(c)

첫번째 숫자: 2
두번째 숫자: 5
세번째 숫자: 8
8

In [6]:
# Quiz

a=input("주민등록번호: ")
if a[7]=="1" or a[7]=="3":
  print("남자")
else:
  print("여자")

주민등록번호: 123123-1231234
남자

In [7]:
# Quiz

a=['dog','cat','parrot']
for i in a:
  print(i[0])

d
c
p

In [9]:
a=[["open","high","low","close"], [100,110,70,100],[200,210,180,190],[300,310,300,310]]
for i in range(1,4):
  print(a[i][3])

100
190
310

In [10]:
a=[["open","high","low","close"], [100,110,70,100],[200,210,180,190],[300,310,300,310]]
for i in range(1,4):
  if a[i][3] < a[i][0]:
    continue
  print(a[i][3])

100
310

In [ ]:
import requests # 웹상의 어떤 기능을 가져다 오는 방법

In [18]:
a=1
while a<6:
  print("*"*a)
  a+=1

*
**
***
****
*****

In [15]:
a=1
b=int(input("몇 단? = "))
while a<=b:
  print("*"*a)
  a+=1

몇 단? = 8
*
**
***
****
*****
******
*******
********

In [24]:
import random
num = random.randrange(1, 101)

n=1
while True:
  a= int(input("숫자를 입력하세요 (1~100)  >>> "))
  if a<num:
    print("더 큰 수를 입력하세요")
    n+=1
  elif a>num:
    print("더 작은 수를 입력하세요")
    n+=1
  else:
    print("정답입니다.",n,"번째 시도에 맞추셨습니다. 축하합니다.")
    break

숫자를 입력하세요 (1~100)  >>> 50
더 작은 수를 입력하세요
숫자를 입력하세요 (1~100)  >>> 30
더 작은 수를 입력하세요
숫자를 입력하세요 (1~100)  >>> 20
더 작은 수를 입력하세요
숫자를 입력하세요 (1~100)  >>> 10
더 큰 수를 입력하세요
숫자를 입력하세요 (1~100)  >>> 15
정답입니다. 5 번째 시도에 맞추셨습니다. 축하합니다.

In [22]:
import random
num = random.randrange(1, 11)
print(num)

1