In [1]:
n = 10
while n >= 0:
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1
0

In [3]:
n=1
s=0
while n<=100:
    if n%3==0:
        s=s+n
        n=n+1
    else:
        n=n+1
print(s)

1683

In [5]:
n=1
s=0
while n<=100:
    if n%3==0:
        s=s+n
    n+=1
print(s)

1683

In [6]:
math=[60,90,70,70,100]
j=1
for i in math:
    if i >=90:
        print(j,"번째 학생은 합격")
    else:
        print(j,"번째 학생은 불합격")
    j+=1

1 번째 학생은 불합격
2 번째 학생은 합격
3 번째 학생은 불합격
4 번째 학생은 불합격
5 번째 학생은 합격

In [10]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2==0:
        print(i)

2
4
6
8
10

In [13]:
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2!=0:
        continue
    print(i)

2
4
6
8
10

In [15]:
print(range(11))

range(0, 11)

In [18]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
for i in range(2,10):
    for j in range(1,10):
        if j==1:
            print(i,"단")
        print(i*j,end="\t")
        if j==9:
            print("\n")

2 단
2	4	6	8	10	12	14	16	18

3 단
3	6	9	12	15	18	21	24	27

4 단
4	8	12	16	20	24	28	32	36

5 단
5	10	15	20	25	30	35	40	45

6 단
6	12	18	24	30	36	42	48	54

7 단
7	14	21	28	35	42	49	56	63

8 단
8	16	24	32	40	48	56	64	72

9 단
9	18	27	36	45	54	63	72	81

In [46]:
s=0
for i in range(0,101,2):
    s=s+i
print(s)

2550

In [54]:
list1=[1,2,3,4]
print(list1)

list2=[num for num in list1]
print(list2)

list3=[num*2 for num in list1]
print(list3)

list4=[num*2 for num in list1  if num%2==0]
print(list4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[2, 4, 6, 8]
[4, 8]

In [69]:
no=80
if no >=80:
    print("합격")
else:
    print("불합격")
    
print("합격" if no>=90 else "불합격")

합격
불합격